<h3>Create a KT Tip right away</h3>
<form action="/kt_tips" method="post">
  <input type="text" name="kt_tip[topic]" value="Enter Topic"/>
  <input type="text" name="kt_tip[content]" value="Enter Content"/>
  <input type="datetime-local" name="kt_tip[written_on]" value="Enter Date of Writing"/>
  <input type="text" name="kt_tip[likes]" value="How many likes?"/>
  <input type="submit" value="Submit">
</form>